@import "tailwindcss";

/* Leaflet container must have explicit height */
.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Remove default focus outline on map markers */
.leaflet-interactive:focus {
  outline: none;
}
